/*body {*/
    /*background: #ece9e6; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #e9defa, #fbfcdb); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #e9defa, #fbfcdb);*/
/*}*/

.font {
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
}

input {
    padding: 12px 10px 10px;
    border: 1px solid #dfe1e5;
    color: #333;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, serif;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}