.new-song-input {
    width: 50%;
    margin: 0 auto;
}

.song-link-input {
    margin-top: 3%;
    height: 20px;
    width: 80%;
}

.select-format {
    width: 80%;
    margin-top: 3%;
    height: 25px;
    font-size: 18px;
    transition: background-color 3s ease;
    cursor: pointer;
}

.add-song-button {
    font-size: 18px;
    margin-top: 4%;
    /*background: red;*/
    background: cornflowerblue;
    color: beige;
    border: 1px solid #dfe1e5;
    height: 35px;
    width: 120px;
    cursor: pointer;
}

.add-song-button:hover {
    background: royalblue;
    color: white;
}