.song {
    width: 100%;
    justify-content: space-between;
}

.delete-song-button {
    cursor: pointer;
    background: none;
    font-weight: bold;
    height: 10%;
}

.delete-song-button:hover {
    color: red;
}