.new-song-form {
    width: 50%;
    margin: 2% auto 0;
    background: white;
    border: 2px solid #e6e6e6;
    /*-webkit-box-shadow: 3px 3px 5px 6px #ccc;  !* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ *!*/
    /*-moz-box-shadow:    3px 3px 5px 6px #ccc;  !* Firefox 3.5 - 3.6 *!*/
    /*box-shadow:         3px 3px 5px 6px #ccc;  !* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 *!*/
    border-radius: 4px;
}

.song-link-input {
    margin-top: 3%;
    height: 20px;
    width: 80%;
    background: #fafafa;
}

.select-format {
    width: 80%;
    margin-top: 3%;
    height: 25px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 3s ease;
    background: #fafafa;
}

.add-song-button {
    font-size: 18px;
    margin-top: 4%;
    /*background: cornflowerblue;*/
    color: beige;
    height: 35px;
    width: 160px;
    cursor: pointer;
    margin-bottom: 2%;
    background: #222222;
    border-radius: 10px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
