.song {
    width: 100%;
    justify-content: space-between;
     background: #222222;
}

.delete-song-button {
    cursor: pointer;
    background: none;
    font-weight: bold;
    height: 10%;
}

.delete-song-button:hover {
    color: red;
}

.song-name {
    text-decoration: none;
    color: #808080;
}

.song-name:hover {
    text-decoration: underline;
}