.songs {
    margin: 3% 0 auto auto;
    justify-content: center;
}

.songs-table {
    border-collapse: collapse;
    border-radius: 1px;
}

.headers {
    width: 100%;
    /*justify-content: space-between;*/
    background: #393939;
}

.songs-table-td {
    font-family: Lato-Regular, serif;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
    background-color: #222222;
    padding: 10px 0;
    width: 130px;
    text-align: center;
}

.songs-table-th {
    font-family: Lato-Bold, serif;
    font-size: 15px;
    color: cornflowerblue ;
    line-height: 1.4;
    width: 100px;
    text-transform: uppercase;
    background-color: #393939;
    padding: 10px 15px;
}

.download-song-button {
    color: #808080;
    font-size: 20px;
    cursor: pointer;
 }

.download-song-button:hover {
    color: black;
}

.songs-counter {
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2%;
}

.songs-table-body {
    overflow-y: scroll;
    height: 300px;
    background-color: #222222;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}