.songs {
    margin: 5% 0 auto auto;
    justify-content: center;
}

.songs-table {
    border-collapse: collapse;
    border-radius: 1px;
    width: 60%;
}

.headers {
    width: 100%;
    justify-content: space-between;
    background: #393939;
}

.songs-table-td {
    font-family: Lato-Regular, serif;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
    background-color: #222222;
    padding: 10px 0;
    width: 100px;
    text-align: center;
}

.songs-table-th {
    font-family: Lato-Bold, serif;
    font-size: 15px;
    color: cornflowerblue ;
    line-height: 1.4;
    width: 100px;
    text-transform: uppercase;
    background-color: #393939;
    padding: 10px 15px;
}

.download-song-button {
    color: #808080;
    font-size: 20px;
    cursor: pointer;
 }

.download-song-button:hover {
    color: black;
}

.songs-counter {
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2%;
}